table, th, td {
  border: 2px solid #c2c2ce;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

td:nth-child(2), th:nth-child(2) {
  white-space: nowrap;
      width: 1px;

}


color-cell {
  display: inline-block;
  padding-left: 10px;
}